<div class = 'view'>  
	<center>
	My transactions:
	<table border = "1" align >
	<thead>
		<th>id</th>
		<th>pay To</th>
		<th>amount</th>	
	</thead>
	<tbody>
	<% @transactions.each do |transaction| %>
	<tr>
		<td><%= transaction.id %></td>
		<td><%= transaction.account.account_no %></td>
		<td><%= transaction.amount %></td>
	</tr>
	<% end %>
	</tbody>
	</table>
	</center>
</div>